body {
    background-color: aliceblue;
    font-family: sans-serif;
}

#calculator {
    position: absolute;
    background-color: white;

    width: 30vmin;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border-style: groove;
    border-color: lavender;
    border-width: 1vmin;
}

#io-screen {
    display: block;
    width: 27vmin;
    padding: 0 0.5vmin;
    height: 6vmin;
    margin: 1vmin auto;
    border-style: solid;
    border-width: 0.1vmin;
    font-size: 3vmin;
    text-align: end;
    text-indent: 0.5vmin;
}

#basic-operations {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

input[type="button"] {
    font-weight: 1000;
    color: rgb(58, 42, 2);
    background-color: ghostwhite;
    border-color: lavender;
    border-radius: 0.5vmin;
    box-shadow: 0.1vmin 0.1vmin darkgray;
}

#important-functions {
    display: flex;
    justify-content: flex-end;
    margin-right: 1vmin;
}

#important-functions input[type="button"]{
    margin:0.5vmin;
    width: 4vmin;
    height: 4vmin;
}

#numpad input[type="button"] {
    box-sizing: unset;
    width: 6vmin;
    height: 3vmin;
    margin: 1vmin 0;
    font-size: 2vmin;
    
}

#basic-operations input[type="button"]  {
    box-sizing: unset;
    width: 3vmin;
    height: 2vmin;
    margin: 0.5vmin;
}

#numpad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin: 0 1vmin;
    padding: 1vmin 0;
    padding-top: 0.5vmin;
}

#basic-operations{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 1vmin;
}

input[type="image"] {
    width: 3vmin;
}

#history-box, #extra-functions, #history-button, #extra-functions-button, #extra-functions-box{
    position: absolute;
}

#history-button {
    transform: translate(-5vmin, 1.5vmin);
}

#extra-functions-button {
    transform: translate(31.5vmin, 2vmin) rotate(180deg);
}

#history-box {
    transform: translate(-27.5vmin, 0);
    display: none; /*flex*/
    flex-direction: column;
    align-items: center;
    width: 20vmin;
    height:40vmin;
    border-style: groove;
    border-color: lavender;
    border-width: 0.7vmin;
    overflow: hidden;
}

#history-title {
    margin: 0;
    padding-top: 0.5vmin;
    font-size: 3vmin;
    text-decoration: underline overline;
}

#history {
    margin-top: 1vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    width:18vmin;
    height:40vmin;
}

/*final results*/
h2 {
    font-size: 2vmin;
    margin:0;
}
/*interim calculations*/
h3 {
    font-size: 1.7vmin;
    margin:0;
    color: dimgray;
}

.results {
    font-style: italic;
    text-decoration: underline;
}

#extra-functions-box {
    transform: translate(36vmin, -0.5vmin);
    display: none; /* flex */
    flex-wrap: wrap;
    width: 18vmin;
    height: fit-content;
    border-style: groove;
    border-color: lavender;
    border-width: 0.7vmin;
    padding: 0 0.5vmin;
    padding-bottom: 1vmin;
}

#extra-functions-box input[type="button"] {
    margin: 0 0.2vmin;
    width: 4.1vmin;
    height:2.5vmin;
    margin-top: 0.5vmin;
    padding: 0;
    text-align: center;
}




